@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Permanent Marker', cursive;
    font-size: 16px;
}

h1 {
    font-size: 3.5rem;
    color: whitesmoke;
    border-bottom: 3px groove whitesmoke;
    text-align: center;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333333;
    flex-direction: column;
}

.table {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 18rem;
    justify-content: center;
    margin: 2rem .5rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    font-size: 4rem;
    color: whitesmoke;
    background: transparent;
    outline: none;
    border-style: none;
    font-family: 'Permanent Marker', cursive;
}

#reset {
    padding: .5rem;
    margin-top: 2rem;
    border-radius: .3rem;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    outline: none;
    border-style: none;
    color: whitesmoke;
    background-color: #333333;
    border: 3px solid whitesmoke;
}

#winner {
    color: whitesmoke;
    font-size: 2.5rem;
    margin: 1rem;
    height: 5rem;
    text-align: center;
}

.players {
    text-align: center;
    background-color: #333333;
    padding: 2rem;
    color: whitesmoke;
}

@media (min-width: 900px) {
    h1 {
        position: fixed;
        left: 2rem;
        top: 1rem;
    }

    .players {
        position: fixed;
        left: 2rem;
        top: 40%;
    }
    .btn {
        width: 6rem;
        height: 6rem;
    }

    .table, .winner {
        margin: 1rem;
    }
}

.players li {
    list-style: none;
    font-size: 2rem;
}

#one, #two, #three, #four, #five, #six {
    border-bottom: 3px groove whitesmoke;
}

#one, #two, #four, #five, #seven, #eight {
    border-right: 3px groove whitesmoke;
}